{% extends '_includes/html5base.jinja' %}

{% block body %}

    <h1>Anti-Bullying Week</h1>
    <h3>Please confirm that you would like to sign up for the newsletter by clicking the button:</h3>
    <form method="POST">
        <input type="submit" value="Go">
    </form>

{% endblock %}
