{% extends '_includes/html5base.jinja' %}

{% block title %}Subscription Confirmed - {{ super }}{% endblock %}

{% block body %}
<section class="intro">
    <div class="container">
        <div class="intro-container">
            <h2 class="abw_heading">Subscription Confirmed</h2>
            <p>
                You have been successfully signed up to the newsletter.
            </p>
        </div>
    </div>
</section>

{% endblock %}
