{% extends '_includes/html5base.jinja' %}

{% block title %}Subscription Request - {{ super() }}{% endblock %}

{% block body %}
<section class="intro">
    <div class="container">
        <div class="intro-container">
            <h2 class="abw_heading">Subscription Request</h2>
            <p>
                We have sent you an email to confirm your address.  Please
                check your mail.
            </p>
        </div>
    </div>
</section>
{% endblock %}
