<footer>
    <div class="container">
        <div id="signup">
            <h4>Newsletter</h4>
            {% with form=g.subscribe %}
            <form method="post" id="newsletter-signup">
                <fieldset>
                    <legend>Sign up to our newsletter:</legend>
                    {{ form.csrf_token }}
                    {{ form.email.label }} {{ form.email }}
                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <input type="submit" value="Go">
                </fieldset>
            </form>
            {% endwith %}
        </div>
        <div id="contact-us" class="middle">
            <h4>Contact</h4>
            <p>BeatBullying<br>
                <a href="mailto:info@beatbullying.org">info@beatbullying.org</a><br>
                +44(0)20 8771 3377<br>
                London, United Kingdom
            </p>
        </div>
        <ul id="social-icons">
            <li><a href="#" id="twitter">Find us on Twitter</a></li>
            <li><a href="#" id="facebook">Follow us on Facebook</a></li>
            <li><a href="#" id="youtube">Subscribe to us on Youtube</a></li>
        </ul>
    </div>
        <div class="caveat"><p>BeatBullying is part of The BB Group<br>
        The BeatBullying Group is registered charity number 1097631
        Company registered in England and Wales, no. 03807909
        </p></div>
</footer>
