<header>
    <nav>
        <ul id="navigation">
            <li id="nav-control"><a>expand navigation</a></li>
            <li class="first_link"><a href="{{ url_for('home') }}" id="home-link">Home</a></li>
            <li><a href="{{ url_for('wristbands') }}" id="wristband-link">Wristbands</a></li>
            <li><a href="{{ url_for('resources') }}" id="resources-link">Resources</a></li>
            <li><a href="{{ url_for('get_involved') }}" id="involved-link">Get Involved</a></li>
            <li><a href="{{ url_for('big_march') }}" id="bm-link">The Big March</a></li>
            <li><a href="{{ url_for('get_help') }}" id="gh-link">Get Help</a></li>
            <li id="logo"><a href="http://www.beatbullying.org/" id="bb-link">Beat Bullying</a></li>
        </ul>
    </nav>
</header>
