{% extends '_includes/html5base.jinja' %}

{% block body_attr %} id="get-help"{% endblock %}

{% block title %}Get Help - {{ super() }}{% endblock %}

{% block body %}
    <section class="help-intro intro">
        <div class="container">
        	<div class="three-circles help-circles">
                <div class="circle circle1"><span></span></div>
                <div class="circle circle2"><span></span></div>
                <div class="circle circle3"><span></span></div>
            </div>
            <div class="intro-container">
            	<h1 class="abw-heading">Getting Help</h1>
            	<h3 class="abw-heading">Help for young people</h2>
            	<p>If you're aged between 11-17, you can get help and support with bullying right now on <a href="http://www.beatbullying.org">beatbullying.org</a>. You can talk to other young people who have been trained by us and have experienced the same issues or get specialist advice from our online counsellors.</p>
			    <h3 class="abw-heading">Help for parents and carers</h2>
			    <p>If you're worried about bullying, we have a number of <a href="http://www.beatbullying.org/dox/help/help-for-parents.html">resources to help you recognise the signs</a> and how to approach your child and the school to deal with it.</p>
			    <h3 class="abw-heading">Help for professionals</h2>
			    <p>We have a wealth of resources to help you <a href="http://www.beatbullying.org/dox/help/help-for-professionals.html">identify the key indicators and symptoms of bullying</a> and how best to make an intervention. There are also plenty of education materials, including lesson plans and activities, to get the whole school involved in helping beat bullying.</p>
			    <h3>Join BeatBullying on Facebook</h3>
			    <p>The <a href="https://www.facebook.com/Beatbullying">BeatBullying official Facebook page</a> is a great place to get informal advice and guidance from others. Like us and you can keep up to date with BeatBullying news and events.</p>
            </div>
        </div>
    </section>

{% endblock %}
