{% extends '_includes/html5base.jinja' %}
{% block body_attr %} id="wristbands"{% endblock %}
{% block body %}
 <section class="involved-intro intro">
            <div class="container">
                <div class="intro-container">
                    <h1 class="abw_heading">Band Together</h1>
                    <h2 class="abw_heading">For Anti-Bullying Week</h2>
                    <p>Whether you’re 5 or 55, there is always something you can do to help make bullying unacceptable. You could write to your MP about bullying or show your support for someone you know OR you might even want to run your own fundraising event!

                    If you do take on the exciting challenge to fundraise for BeatBullying, be sure to know that however big or small your contribution you will enable us to continue to help thousands of young people across the world. 

                    Fundraising for BeatBullying

                    <h5>Bright Ideas</h5>
                    Stuck on ideas how to get involved with anti – bullying week? No problem! We’ve come up with a few ideas here at BeatBullying HQ to get you started and please don’t forget to let us know how you get on… 
                    </p>
                    <a href="#at-home" class="fr-home button">At Home</a>
                    <a href="#with-friends" class="fr-friends button">With Friends</a>
                    <a href="#at-school" class="fr-school button">At School</a>
                </div>
                <ul class="wb-links">
                    <li class="wb-form"><a href=""><span class="link-graphic"></span><span class="link-text">Download an order form</span></a></li>
                    <li class="wb-order"><a href=""><span class="link-graphic"></span><span class="link-text">Order online</span></a></li>
                </ul>
            </div>
        </section>
        <section class="fundraising-home" id="at-home">
            <div class="container">
                <div class="intro-container">
                    <h3>Fundraising at home</h3>
                    <h5>We love wristbands</h5>
                    <p>Oh yes we do! But what we would love even more is for you to wear our wristbands and share our mission with the world.</p>
                    <p>
                    You can buy as many wristbands as you like and give them to friends, family and colleagues
                    Encourage people you know to purchase and wear our wristbands too.
                    </p>
                    <h5>Run run run!</h5>
                    <p>
                    Whether you’re a keen runner or just starting out there are hundreds of events that you could take part in to raise money for BeatBullying. So dust down those old trainers and we’ll see you at the start line!
                    </p>
                    <h5>Get creative!</h5>
                    <p>
                    Love to paint, draw or make stuff? How about making themed cards for Halloween, Christmas or Easter and selling them to friends and family OR holding your own painting and drawing exhibition where friends, family and the rest of the community can purchase your art.
                    </p><p>
                    For more support and to let us know what you’re doing so we can post photos, stories and events on our websites, facebook and twitter please contact us on 020 8768 1029 or at fundraising@beatbullying.org
                    </p>
                </div>
                <div class="three-circles home-circles">
                    <div class="circle circle1"><span></span></div>
                    <div class="circle circle2"><span></span></div>
                    <div class="circle circle3"><span></span></div>
                </div>
            </div>
        </section>
        <section class="fundraising-friends" id="with-friends">
            <div class="container">
                <div class="intro-container">
                    <h3>Fundraising at home</h3>
                    <h5>We love wristbands</h5>
                    <p>Oh yes we do! But what we would love even more is for you to wear our wristbands and share our mission with the world.</p>
                    <p>
                    You can buy as many wristbands as you like and give them to friends, family and colleagues
                    Encourage people you know to purchase and wear our wristbands too.
                    </p>
                    <h5>Run run run!</h5>
                    <p>
                    Whether you’re a keen runner or just starting out there are hundreds of events that you could take part in to raise money for BeatBullying. So dust down those old trainers and we’ll see you at the start line!
                    </p>
                    <h5>Get creative!</h5>
                    <p>
                    Love to paint, draw or make stuff? How about making themed cards for Halloween, Christmas or Easter and selling them to friends and family OR holding your own painting and drawing exhibition where friends, family and the rest of the community can purchase your art.
                    </p><p>
                    For more support and to let us know what you’re doing so we can post photos, stories and events on our websites, facebook and twitter please contact us on 020 8768 1029 or at fundraising@beatbullying.org
                    </p>
                </div>
                <div class="three-circles friends-circles">
                    <div class="circle circle1"><span></span></div>
                    <div class="circle circle2"><span></span></div>
                    <div class="circle circle3"><span></span></div>
                </div>
            </div>
        </section>
         <section class="fundraising-school" id="at-school">
            <div class="container">
                <div class="intro-container">
                    <h3>Fundraising at home</h3>
                    <h5>We love wristbands</h5>
                    <p>Oh yes we do! But what we would love even more is for you to wear our wristbands and share our mission with the world.</p>
                    <p>
                    You can buy as many wristbands as you like and give them to friends, family and colleagues
                    Encourage people you know to purchase and wear our wristbands too.
                    </p>
                    <h5>Run run run!</h5>
                    <p>
                    Whether you’re a keen runner or just starting out there are hundreds of events that you could take part in to raise money for BeatBullying. So dust down those old trainers and we’ll see you at the start line!
                    </p>
                    <h5>Get creative!</h5>
                    <p>
                    Love to paint, draw or make stuff? How about making themed cards for Halloween, Christmas or Easter and selling them to friends and family OR holding your own painting and drawing exhibition where friends, family and the rest of the community can purchase your art.
                    </p><p>
                    For more support and to let us know what you’re doing so we can post photos, stories and events on our websites, facebook and twitter please contact us on 020 8768 1029 or at fundraising@beatbullying.org
                    </p>
                </div>
                <div class="three-circles school-circles">
                    <div class="circle circle1"><span></span></div>
                    <div class="circle circle2"><span></span></div>
                    <div class="circle circle3"><span></span></div>
                </div>
            </div>
        </section>

{% endblock %}
