{% extends '_includes/html5base.jinja' %}
{% block body_attr %} id="wristbands"{% endblock %}
{% block body %}
 <section class="involved-intro intro">
            <div class="container">
                <div class="intro-container">
                    <h1 class="abw_heading">Band Together</h1>
                    <h2 class="abw_heading">For Anti-Bullying Week</h2>
                    <p>
                        Whether you’re 5 or 55, there is always something you
                        can do to help make bullying unacceptable. You could
                        write to your MP about bullying or show your support
                        for someone you know OR you might even want to run your
                        own fundraising event!
                    </p>
                    <p>
                        If you do take on the exciting challenge to fundraise
                        for BeatBullying, be sure to know that however big or
                        small your contribution you will enable us to continue
                        to help thousands of young people across the world.
                    </p>
                    <h2 class="abw_heading">Fundraising for BeatBullying</h2>
                    <h5>Bright Ideas</h5>
                    <p>
                        Stuck on ideas how to get involved with anti-bullying
                        week? No problem! We’ve come up with a few ideas here
                        at BeatBullying HQ to get you started and please don't
                        forget to let us know how you get on&hellip;
                    </p>
                    <a href="#at-home" class="fr-home button">At Home</a>
                    <a href="#with-friends" class="fr-friends button">With Friends</a>
                    <a href="#at-school" class="fr-school button">At School</a>
                </div>
                <ul class="wb-links">
                    <li class="wb-form"><a href="{{ url_for('resource', res='order-form.pdf') }}"><span class="link-graphic"></span><span class="link-text">Download an order form</span></a></li>
                    <li class="wb-order"><a href="http://shop.beatbullying.org/"><span class="link-graphic"></span><span class="link-text">Order online</span></a></li>
                </ul>
            </div>
        </section>
        <section class="fundraising-home" id="at-home">
            <div class="container">
                <div class="intro-container">
                    <h2 class="abw_heading">Fundraising at home</h2>
                    <h5>We love wristbands</h5>
                    <p>
                        Oh yes we do! But what we would love even more is for
                        you to wear our wristbands and share our mission with
                        the world.
                    </p>
                    <p>
                        You can <a href="http://shop.beatbullying.org/">buy as many wristbands as you like</a>
                        and give them to friends, family and colleagues.
                        Encourage people you know to purchase and wear our
                        wristbands too.
                    </p>
                    <h5>Run run run!</h5>
                    <p>
                        Whether you’re a keen runner or just starting out there
                        are hundreds of events that you could take part in to
                        raise money for BeatBullying. So dust down those old
                        trainers and we’ll see you at the start line!
                    </p>
                    <h5>Get creative!</h5>
                    <p>
                        Love to paint, draw or make stuff? How about making
                        themed cards for Halloween, Christmas or Easter and
                        selling them to friends and family OR holding your own
                        painting and drawing exhibition where friends, family
                        and the rest of the community can purchase your art.
                    </p>
                    <p>
                        For more support and to let us know what you’re doing
                        so we can post photos, stories and events on our
                        websites, Facebook and Twitter, please contact us on 020
                        8768 1029 or at
                        <a href="mailto:fundraising@beatbullying.org">fundraising@beatbullying.org</a>
                    </p>
                </div>
                <div class="three-circles home-circles">
                    <div class="circle circle1"><span></span></div>
                    <div class="circle circle2"><span></span></div>
                    <div class="circle circle3"><span></span></div>
                </div>
            </div>
        </section>
        <section class="fundraising-friends" id="with-friends">
            <div class="container">
                <div class="intro-container">
                    <h2 class="abw_heading">Fundraising with friends, family and the community</h2>
                    <p>
                        There are lots of fun and exciting things that you and
                        your friends and family can do to raise money for
                        BeatBullying.
                    </p>
                    <h5>Popcorn Anyone?</h5>
                    <p>
                        Nothing brings people together like a good film. Why
                        not hire out your local community hall and charge
                        people an entrance fee to come together to watch a
                        great film. You could sell popcorn, snacks and drinks
                        to raise funds too.
                    </p>
                    <h5>Band Together With Your Team</h5>
                    <p>
                        Can you and your sports team meet a challenge together?
                        (Of course you can!) How many kick-ups / sit-ups /
                        burpees could you do between the team in one week?
                        There may be a local business willing to sponsor you
                        too.
                    </p>
                    <h5>Love Food and Cooking?</h5>
                    <p>
                        You could hold your very own 'Come Dine With Me' Event!
                    </p>
                    <h5>Raffles Are Great</h5>
                    <p>
                        Raffles are a simple yet really effective way to raise
                        money. You can buy raffle tickets from stationery
                        shops, supermarkets and local newsagents.
                    </p>
                    <p>
                        For more support and to let us know what you're doing
                        so we can post photos, stories and events on our
                        websites, Facebook and Twitter, please contact us on
                        020 8768 1029 or at
                        <a href="mailto:fundraising@beatbullying.org">fundraising@beatbullying.org</a>.
                    </p>
                </div>
                <div class="three-circles friends-circles">
                    <div class="circle circle1"><span></span></div>
                    <div class="circle circle2"><span></span></div>
                    <div class="circle circle3"><span></span></div>
                </div>
            </div>
        </section>
         <section class="fundraising-school" id="at-school">
            <div class="container">
                <div class="intro-container">
                    <h2 class="abw_heading">Fundraising in your school</h2>
                    <p>
                        Join us in our mission to 'Band Together' for
                        Anti-Bullying Week and your school could raise money
                        for thousands of young people who have suffered from
                        bullying. Many of the young people that we have worked
                        with have got involved in raising money for
                        BeatBullying. Schools have told us that this has
                        enabled their pupils to learn new skills, forge
                        positive relationships in their community and
                        understand the great difference that they can make.
                    </p>
                    <p>
                        Are you a pupil, parent or a school staff member? If
                        so, you could raise funds for BeatBullying through your
                        school. We know you're probably bursting with tons of
                        great fundraising ideas, but just in case you need a
                        bit of inspiration, BeatBullying HQ have come up with
                        some more&hellip;
                    </p>
                    <p>
                        What you can do to Band Together and make bullying
                        unacceptable:
                    </p>
                    <h5>Battle of the Bands</h5>
                    <p>
                        Get some of your homegrown talented bands to put on a
                        performance at your school. Not in a band? Now's your
                        chance to form one! Charge your parents, family,
                        friends and maybe even your cat to watch you sing and
                        dance your heart out for a great cause.
                    </p>
                    <h5>We Love Our Wristbands</h5>
                    <p>
                        We know we've mentioned this already, but we thought
                        we'd say it again that you can <a
                        href="http://shop.beatbullying.org/">purchase our
                        wristbands</a>: All students and staff can band
                        together in solidarity throughout Anti-Bullying Week by
                        purchasing and wearing our wristbands. It's a simple
                        yet very effective way to raise money for BeatBullying
                        and to support us to make bullying unacceptable.
                    </p>
                    <h5>Dress Down Day</h5>
                    <p>
                        These are always popular! Students can donate a fixed
                        fee to not wear uniform. All students and staff can
                        come dressed in a particular colour - such as blue,
                        which is the colour we like to use at BeatBullying.
                    </p>
                    <h5>Fun Day</h5>
                    <p>
                        You can charge an entrance fee for the fun day and
                        instead of purchasing tickets for the fair, people can
                        purchase our wristbands instead. Things to include on
                        the fun day might be face painting, cake selling and
                        games.
                    </p>
                    <p>
                        You can find even more ideas for fundraising at <a
                        href="http://www.how2fundraise.org/fundraising-ideas/fundraising-ideas-for-schools.htm">how2fundraise.org</a>.
                    </p>
                    <p>
                        You can also set up a school fundraising page at <a
                        href="http://www.justgiving.com/beatbullying/raisemoney">our
                        JustGiving page</a> and encourage parents to donate to
                        BeatBullying.
                    </p>
                    <p>
                        For more support and to let us know what you're doing
                        so we can post photos, stories and events on our
                        websites, Facebook and Twitter please contact us on 020
                        8768 1029 or at <a
                        href="mailto:fundraising@beatbullying.org">fundraising@beatbullying.org</a>
                    </p>
                    <p>
                        We are hugely grateful to all of the children, teachers
                        and parents who have been involved in raising money for
                        BeatBullying in such an inspiring and imaginative
                        way.<br>
                        A big thank you to Mill Hill School in London for
                        raising a whopping £1031.46 for BeatBullying. This
                        inspiring school ran a non-uniform day with a 'blue'
                        theme as part of ongoing initiatives led by the Pupil
                        Council and Anti-Bullying and Members Council. Thank
                        you Mill Hill!<br>
                        Horbury School in Wakefield raised an unbelievable
                        £1000!<br>
                        Tudor Grange School in Solihull raised £60 selling
                        anti-bullying wristbands.<br>
                        Deben High School in Felixstowe raised £135 for us by
                        holding a quiz.<br>
                        Stafford Junior School in Eastbourne ran a series of
                        sponsored events and raised an amazing £693.57.
                    </p>
                </div>
                <div class="three-circles school-circles">
                    <div class="circle circle1"><span></span></div>
                    <div class="circle circle2"><span></span></div>
                    <div class="circle circle3"><span></span></div>
                </div>
            </div>
        </section>

{% endblock %}
