{% extends '_includes/html5base.jinja' %}

{% block body_attr %} id="resources"{% endblock %}

{% block title %}Resources - {{ super() }}{% endblock %}

{% block body %}
        <section class="resources-intro intro">
            <div class="container">
                <div class="intro-container">
                    <h1 class="abw_heading">Anti-Bullying Week Resources</h1>
                    <h2 class="abw_heading">Looking for ideas for things to do for ABW this year?</h2>
                    <p>The resources below are from last year. Keep an eye out over the next few weeks, as new resources for 2014 will be appearing shortly.
                    </p>
                    <p>
                        We have lesson plans, assembly ideas and we also
                        have simple activities you can run as a class or even
                        as a whole school.  They are tailored to Key Stages 1 - 4; some are really straightforward whilst
                        others are a little more challenging.
                    </p>
                    <p>
                        All of them are free to download below.
                    </p>
                    <a href="#lesson-plans" class="res-lp button">Lesson Plans</a>
                    <a href="#assembly-plans" class="res-ap button">Assembly Plans</a>
                    <a href="#communication-materials" class="res-cm button">Communication Materials</a>
                </div>
                <ul class="fr-links">
                  <a href="{{ url_for('get_involved') }}" class="button fr-link">Fundraising ideas</a>
                </ul>
            </div>
        </section>
        <section class="resources-lesson section" id="lesson-plans">
            <div class="container">
                <ul class="resources-list">
                    <li>
                        <h5>Lesson Plan: KS 1/2</h5>
                        <h6>The Power of the Group</h6>
                        <p>
                            All for one and one for all! The Power of the
                            Group.
                        </p>
                        <a href="{{ url_for('resource', res='power-group-1-2.pdf') }}" class="button">Download Lesson Plan</a>
                        <a href="{{ url_for('resource', res='charter-3-4.pdf') }}" class="button">Download Charter</a>
                    </li>
                    <li class="middle">
                        <h5>Lesson Plan: KS 3/4</h5>
                        <h6>The Power of the Group</h6>
                        <p>
                            Exploring the power of the group, good, bad and all
                            that's in between.
                        </p>
                        <a href="{{ url_for('resource', res='power-group-3-4.pdf') }}" class="button">Download Lesson Plan</a>
                        <a href="{{ url_for('resource', res='charter-3-4.pdf') }}" class="button">Download Charter</a>
                    </li>
                    <li>
                        <h5>Lesson Plan: KS 3/4</h5>
                        <h6>Organise a Demonstration</h6>
                        <p>
                            Why it is important to
                            stand up for an issue that you believe in.
                        </p>
                        <a href="{{ url_for('resource', res='organise-a-demo.pdf') }}" class="button">Download Lesson Plan</a>
                    </li>
                    <li>
                        <h5>Lesson Plan: KS 3</h5>
                        <h6>Speak Out</h6>
                        <p>Understanding the importance of speaking out against bullying.</p>
                        <a href="{{ url_for('resource', res='speak-out-now.pdf') }}" class="button">Download Lesson Plan</a>
                        <a href="{{ url_for('resource', res='pledge-board.pdf') }}" class="button">Download Pledge Board</a>
                    </li>
                    <li>
                        <h5>Lesson Plan: KS 2</h5>
                        <h6>Bully Proof Shield</h6>
                        <p>Reinforce the anti-bullying policy in your school.</p>
                        <a href="{{ url_for('resource', res='bully-proof-shield.pdf') }}" class="button">Download Lesson Plan</a>
                    </li>
                    <li>
                        <h5>Lesson Plan: KS 1/2</h5>
                        <h6>My Apology Letter</h6>
                        <p>Reflect on previous behaviour and take positive action to correct it.</p>
                        <a href="{{ url_for('resource', res='apology-letter.pdf') }}" class="button">Download Lesson Plan</a>
                    </li>
                    <li>
                        <h5>Lesson plan: KS 1/2</h5>
                        <h6>Who is Responsible?</h6>
                        <p>Exploring rights and obligations and taking responsibility for actions.</p>
                        <a href="{{ url_for('resource', res='whos-responsible-1-2.pdf') }}" class="button">Download Lesson Plan</a>
                    </li>
                    <li>
                        <h5>Lesson plan: KS 3/4</h5>
                        <h6>Who is Responsible?</h6>
                        <p>Look at different viewpoints and reflect on personal opinions through discussion.</p>
                        <a href="{{ url_for('resource', res='whos-responsible-3-4.pdf') }}" class="button">Download Lesson Plan</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="resources-assembly section" id="assembly-plans">
            <div class="container">
                <ul class="resources-list">
                    <li>
                        <h5>Assembly Plan</h5>
                        <h6>Me, You and Us</h6>
                        <p>
                            An interactive assembly plan exploring bullying.
                        </p>
                        <a href="{{ url_for('resource', res='me-you-us-script.pdf') }}" class="button">Download PDF</a>
                        <a href="{{ url_for('resource', res='me-you-us-plan.pptx') }}" class="button">Download PowerPoint</a>
                    </li>
                    <li>
                        <h5>Assembly Plan</h5>
                        <h6>#BandTogether</h6>
                        <p>
                            Join our #BandTogether campaign to make bullying
                            unacceptable.
                        </p>
                        <a href="{{ url_for('resource', res='bandtogether.pdf') }}" class="button">Download PDF</a>
                        <a href="{{ url_for('resource', res='bandtogether.pptx') }}" class="button">Download PowerPoint</a>
                    </li>
                </ul>
            </div>
        </section>
         <section class="resources-materials section" id="communication-materials">
            <div class="container">
                <ul class="resources-list">
                    <li>
                        <h5>BeatBullying Poster</h5>
                        <h6>Want to Talk About Bullying?</h6>
                        <p>
                            Let young people know where they can talk about
                            bullying!
                        </p>
                        <a href="{{ url_for('resource', res='beatbullying-poster.pdf') }}" class="button">Download Poster</a>
                    </li>
                    <li>
                        <h5>BeatBullying Poster</h5>

                        <h6>Speak Out Now Poster</h6>

                        <p>
                            Encourage young people to speak out about bullying.
                        </p>
                        <a href="{{ url_for('resource', res='speak-out-poster.pdf') }}" class="button">Download Poster</a>
                    </li>
                    <li>
                        <h5>Social Media Pack</h5>
                        <h6>#BandTogether</h6>
                        <p>
                            Share these graphics on your social media feeds.
                        </p>
                        <a href="{{ url_for('resource', res='social-media-pack.zip') }}" class="button">Download Pack</a>
                    </li>
                    <li>
                        <h5>BeatBullying Tips</h5>
                        <h6>Spreading the Word</h6>
                        <p>
                            Learn how to spread a positive message in your
                            community.
                        </p>
                        <a href="{{ url_for('resource', res='spreading-the-word.pdf') }}" class="button">Download Tips</a>
                    </li>
                     <li id="filmclub">
                        <h5>FilmClub</h5>
                        <h6>The Education Charity</h6>
                        <p>
                             New education resource featuring six great films - three for primary and three for secondary.
                        </p>
                        <a href="{{ url_for('resource', res='filmclub-abw-resource-2013.pdf') }}" class="button">Download Guide</a>
                    </li>
                </ul>
            </div>
        </section>
{% endblock %}
