{% extends '_includes/html5base.jinja' %}

{% block body_attr %} id="resources"{% endblock %}

{% block title %}Resources - {{ super() }}{% endblock %}

{% block body %}
        <section class="resources-intro intro">
            <div class="container">
                <div class="intro-container">
                    <h1 class="abw_heading">Anti Bullying Week Resources</h1>
                    <h2 class="abw_heading">Looking for ideas for things to do for ABW this year?</h2>
                    <p>
                        We’ve developed a whole series of resources to get you
                        and the young people you work with involved to help us
                        make bullying unacceptable.
                    </p>
                    <p>
                        These include lesson plans, assembly ideas and we also
                        have simple activities you can run as a class or even
                        as a whole school.  They are tailored to Key Stages 1,
                        2, 3, and 4, and some are really straightforward while
                        others are a bit more challenging.
                    </p>
                    <p>
                        All of them are free to download below.
                    </p>
                    <a href="#lesson-plans" class="res-lp button">Lesson Plans</a>
                    <a href="#assembly-plans" class="res-ap button">Assembly Plans</a>
                    <a href="#communication-materials" class="res-cm button">Communication Materials</a>
                </div>
                <ul class="fr-links">
                  <a href="{{ url_for('get_involved') }}" class="button fr-link">Fundraising ideas</a>
                </ul>
            </div>
        </section>
        <section class="resources-lesson section" id="lesson-plans">
            <div class="container">
                <ul class="resources-list">
                    <li>
                        <h5>Lesson Plan: KS 1/2</h5>
                        <h6>The Power of the Group</h6>
                        <p>
                            All for one and one for all! The power of the
                            group.
                        </p>
                        <a href="{{ url_for('resource', res='power-group-1-2.pdf') }}" class="button">Download Lesson Plan</a>
                        <a href="{{ url_for('resource', res='charter-3-4.pdf') }}" class="button">Download Charter</a>
                    </li>
                    <li class="middle">
                        <h5>Lesson Plan: KS 3/4</h5>
                        <h6>The Power of the Group</h6>
                        <p>
                            Exploring the power of the group, good, bad and all
                            that's in between.
                        </p>
                        <a href="{{ url_for('resource', res='power-group-3-4.pdf') }}" class="button">Download Lesson Plan</a>
                        <a href="{{ url_for('resource', res='charter-3-4.pdf') }}" class="button">Download Charter</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="resources-assembly section" id="assembly-plans">
            <div class="container">
                Assembly Plans will be available in the coming weeks
            </div>
        </section>
         <section class="resources-materials section" id="communication-materials">
            <div class="container">
                <ul class="resources-list">
                    <li>
                        <h5>BeatBullying Poster</h5>
                        <h6>Want to Talk About Bullying?</h6>
                        <p>
                            Let young people know where they can talk about
                            bullying!
                        </p>
                        <a href="{{ url_for('resource', res='beatbullying-poster.pdf') }}" class="button">Download Poster</a>
                    </li>
                </ul>
            </div>
        </section>
{% endblock %}
