{% extends '_includes/html5base.jinja' %}

{% block body_attr %} id="wristbands"{% endblock %}

{% block title %}Wristbands - {{ super() }}{% endblock %}

{% block body %}
         <section class="wristbands-intro intro">
            <div class="container">
                <div class="intro-container">
                    <h1 class="abw_heading">Wristbands</h1>
                    <h2 class="abw_heading">5 Ways to BeatBullying!</h2>
                    <p>
                        Wearing a BeatBullying wristband is a great
                        way to make your pupils feel part of your anti-bullying
                        strategy and help them feel safe at your school.  It's
                        also an excellent way to demonstrate your school's
                        commitment to tackling bullying, in line with Ofsted's
                        Inspection Framework.
                    </p>
                    <p>
                        This year, we have 5 versions of the wristband to chhose from. You can buy your bands in packs of 50 or 100 to give
                        out to all your pupils, or sell back to your students
                        to raise funds for your school. Young people can collect the set by buying limited-edition packs in our shop.
                    </p>
                    <p>
                        Get a 10% discount by
                        <a href="http://shop.beatbullying.org/">ordering your bands online</a>,
                        or alternatively use one of our
                        <a href="{{ url_for('resource', res='order-form.pdf') }}">downloadable order forms</a>.
                    </p>
                </div>
                <ul class="wb-links">
                    <li class="wb-form"><a href="{{ url_for('resource', res='order-form.pdf') }}"><span class="link-graphic"></span><span class="link-text">Download an order form</span></a></li>
                    <li class="wb-order"><a href="http://shop.beatbullying.org/"><span class="link-graphic"></span><span class="link-text">Order online</span></a></li>
                </ul>
                <div class="wristband-img">
                    <span class="wristband"></span>
                    <span class="boy"></span>
                    <span class="wristband last"></span>
                </div>
            </div>
        </section>
{% endblock %}
